[Desktop Entry]
Version=1.0
Type=Link
Name=musica infantil sobre sustentabilidade
Comment=
Icon=/home/escola/Documentos/mariac 1b/musica.jpg
URL=https://www.youtube.com/watch?v=Cj-4g-T0ins
